<h3>Add a client </h3>

<form action="/clients" method="post">

  <label for="name">Name of Client:</label>
  <input id="name" name="name" type="text">

  <% if @stylist.any?() %>
  <p>Click on a stylist to assign to client</p>

    <% @stylists.each() do |stylist| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="stylsit_id" value="<%= stylist.id() %>"><%= stylist.name() %>
        </label>
      </div>
      <% end %>
  <% end %>
  <button type="submit">Add Client</button>
</form>
<hr>
<div class="container">
  <button><a href="/stylists">View All Stylists</a></button>
  <button><a href="/stylists/new">Add New Stylist</a></button>
  <hr>
  <button><a href="/clients">View All Clientss</a></button>
  <button><a href="/clients/new">Add New Clients</a></button>
</div>
