<h3>Add a client </h3>

<form action="/clients" method="post">

  <label for="name">Name of Client:</label>
  <input id="name" name="name" type="text">

  <% if @stylists.any?() %>
  <p>Click on a stylist to assign to client</p>

    <% @stylists.each() do |stylist| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="stylist_id" value="<%= stylist.id() %>"><%= stylist.name() %>
        </label>
      </div>
      <% end %>
  <% end %>
  <button type="submit">Add Client</button>
</form>
