<!DOCTYPE html>
<html>
  <head>
    <title>Hair Salon</title>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Hair Salon<h1>
      <hr>
      <%= yield %>
      <hr>
      <div class="container">
        <button><a href="/stylists">View All Stylists</a></button>
        <button><a href="/stylists/new">Add New Stylist</a></button>
        <hr>
        <button><a href="/clients">View All Clients</a></button>
        <button><a href="/clients/new">Add New Clients</a></button>
      </div>
    </div>
  </body>
</html>
