<h1><%= @stylist.name() %></h1>

<% if @stylist.clients().any?() %>
  <h3>Here are all the clients for this stylist:</h3>

  <ul>
    <% @stylist.clients().each() do |client| %>
      <li><a href="/clients/<%= client.id()%>"><%= client.name() %></a> </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no clients on this stylist!</p>
<% end %>

</form>

<p><a href="/stylists/<%= @stylist.id() %>/edit">Click here to update</a></p>
