<h1>Stylists</h1>

<% if @stylists.any?() %>
  <ul>
    <% @stylists.each() do |stylist| %>
      <li><a href="/stylists/<%= stylist.id() %>" id='<% stylist.id() %>' ><%= stylist.name() %></a></li>
      <% end %>
  </ul>

<% else %>

  <p>There are no stylists added yet</p>

<% end %>
